.fields, .Form {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    flex-direction: column;
    margin:0;
    align-items: center;
    width: 100%;
    gap:20px;
    justify-content: center;

}

.Form h1 {
  font-size:2.6em;
  padding:0 35px;
}


.Form h3 {
  font-size:2em;
  padding:0px 30px;
}

input {
  font-size: 1.2em;
  margin: auto;
  border-radius: 9px;
  border: none;
  padding: 15px 20px;
  background-color: #dce0e3;
}

input:active {
  background-color: #fff;
}

input:focus {
  background-color: #fff;
  outline-color: #252729;
  outline-width: 3px;
}

.btn {
  font-weight: 600;
  padding: 12px 27px;
  font-size: 19px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: .08em;
  min-height: auto;
  min-width: auto;
  background-color: #414042;
  letter-spacing: normal;
  color:#fff;
  border:none;
  }

.btn:hover {
  background-color: #b7d340;
}
  
  .btn:active {
    background-color: #000;
  }
.phone::-webkit-inner-spin-button, 
.phone::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}